PORT=3000
SWAGGER_PATH=api
SERVICE_NAME=flagd-nestjs

# Database configuration
# Supported engines: postgres, mysql, mongodb, mssql, sqlite
DATABASE_ENGINE=postgres
DATABASE_URL=postgres://user:pass@localhost:5432/flagd

# flagd configuration
FLAGD_HOST=localhost
FLAGD_PORT=8013

# Logging
LOG_MODE=pretty
LOG_LEVEL=debug
